<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/styles.min.css">
    <link rel="stylesheet" href="./static/css/Footer-Dark.css">
    <link rel="stylesheet" href="./static/css/Login-with-overlay-image.css">
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Sistema de Autetificación</title>

</head>

<body>
    <header>
        <p style="font-size: 25px;font-family: Roboto, sans-serif;text-align: center;margin-top: 50px;margin-bottom: 48px;">Sistema de Autenticación - Calidad de Software</p>
    </header><div id="main-wrapper" class="container">
    <div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Iniciar Sesión</h3>
                                </div>

                                <h6 class="h5 mb-0">Bienvenido!</h6>
                                <p class="text-muted mt-2 mb-5">Ingresa tu correo y contraseña para acceder al sistema.</p>

                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo Electrónico</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword1">Contraseña</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-theme">Iniciar Sesión</button>
                                    
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Logo_Universidad_Polit%C3%A9cnica_Salesiana_del_Ecuador.png" alt="logo salesiana" width="450" >
                                    <h4 class="text-white mb-4">Este es un Sistema de Autenticación basado en el reconocimiento de Figuras </h4>
                                    <p class="lead text-white">"La seguridad de que tu información siempre estará solo en tus manos"</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">Aún no tienes una cuenta con nosotros? <a href="/signup" class="text-primary ml-1"> Regístrate Aquí</a></p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
    </div>
    <footer class="text-center bg-dark">
        
        <div class="container text-white py-4 py-lg-5" style="margin-top: 114px;">
            <p class=" mb-0" >Copyright © 2022 Aulestia - Barrionuevo - Heredia - Loachamín - Revelo&nbsp;</p>
            <p class=" mb-0">Calidad de Software&nbsp;- Universidad Politécnica Salesiana - Periodo 60<br></p>
        </div>
    </footer>
    

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>