{% extends "datos.html" %} 
{% block content %}


<div class="container">
    <svg viewBox="10 10 1500 200">
        <symbol id="s-text">
          <text text-anchor="middle" x="40%" y="60%">Inicio de Sesión</text>
        </symbol>
    
        <g class = "g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>

    

    <div id="login">
   
      <form name="login_form">

        <fieldset class="clearfix">

          <p><span class="fontawesome-user"></span><input  name="email" type="email" value="email" onBlur="if(this.value == '') this.value = 'email'" onFocus="if(this.value == 'email') this.value = ''" required></p> 
          <p><span class="fontawesome-lock"></span><input  name="passwrd" type="Password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> 
          <p class="error error--hidden"></p>
          <p><input type="submit" value="Iniciar Sesión"></p>

        </fieldset>

      </form>

      <p>No tienes cuenta? <a href="/signup" class="blue">Registrate ya</a><span class="fontawesome-arrow-right"></span></p>

    </div> <!-- end login -->

  </div>
  {% endblock %} 