{% extends "datos.html" %} 
{% block content %}

<body>
   
    <div class="container">
  <div class="letras">
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="30%" y="60%">Registro</text>
            </symbol>
        
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
        </div>
        <div class="row">

            <div  id="login">
                     
                <form name="signup_form">
                    <div style=" float:left">
                        <fieldset class="clearfix">
                         <p><span class="fontawesome-card"></span><input  name="cedula" type="text" value="Cedula" onBlur="if(this.value == '') this.value = 'Cedula'" onFocus="if(this.value == 'Cedula') this.value = ''" required></p> 
                         <p><span class="fontawesome-user"></span><input  name="nombre" type="text" value="Nombre" onBlur="if(this.value == '') this.value = 'Nombre'" onFocus="if(this.value == 'Nombre') this.value = ''" required></p> 
                         <p><span class="fontawesome-user"></span><input  name="apellido" type="text"  value="Apellido" onBlur="if(this.value == '') this.value = 'Apellido'" onFocus="if(this.value == 'Apellido') this.value = ''" required></p> 
                         <p><span class="fontawesome-user"></span><input  name="usuario" type="text" value="Usuario" onBlur="if(this.value == '') this.value = 'Usuario'" onFocus="if(this.value == 'Usuario') this.value = ''" required></p> 
                         <p><span class="fontawesome-lock"></span><input  name="passwrd" type="Password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> 
                         <p><span class="fontawesome-user"></span><input  name="passwrd2" type="Password" value="Password2" onBlur="if(this.value == '') this.value = 'Password2'" onFocus="if(this.value == 'Password2') this.value = ''" required></p> 
                         <p><span class="fontawesome-user"></span><input  name="date" type="date" value="Fecha nacimiento" required></p> 
                         <p><span class="fontawesome-user"></span><input  name="etnia" type="text" value="Etnia" onBlur="if(this.value == '') this.value = 'Etnia'" onFocus="if(this.value == 'Etnia') this.value = ''" required></p> 
                        </div>
                         <div style="float:right">
                          
                       
                        <p><span class="fontawesome-user"></span><input name="telefono" type="text"  value="Telefono" onBlur="if(this.value == '') this.value = 'Telefono'" onFocus="if(this.value == 'Telefono') this.value = ''" required></p> 
                        <p><span class="fontawesome-user"></span><input name="celular" type="text" value="Celular" onBlur="if(this.value == '') this.value = 'Celular'" onFocus="if(this.value == 'Celular') this.value = ''" required></p> 
                        <p><span class="fontawesome-user"></span><input name="pais" type="text"  value="Pais" onBlur="if(this.value == '') this.value = 'Pais'" onFocus="if(this.value == 'Pais') this.value = ''" required></p> 
                        <p><span class="fontawesome-user"></span><input name="ciudad" type="text" value="Ciudad" onBlur="if(this.value == '') this.value = 'Ciudad'" onFocus="if(this.value == 'Ciudad') this.value = ''" required></p> 
                        <p><span class="fontawesome-user"></span><input name="codigo_postal" type="text"  value="Codigo postal" onBlur="if(this.value == '') this.value = 'Codigo postal'" onFocus="if(this.value == 'Codigo postal') this.value = ''" required></p> 
                        <p><span class="fontawesome-user"></span><input name="sangre" type="text" value="Tipo de sangre" onBlur="if(this.value == '') this.value = 'Tipo de sangre'" onFocus="if(this.value == 'Tipo de sangre') this.value = ''" required></p> 
                        <p><span class="fontawesome-user"></span><input name="genero" type="text"  value="Genero" onBlur="if(this.value == '') this.value = 'Genero'" onFocus="if(this.value == 'Genero') this.value = ''" required></p> 
                        <p class="error error--hidden"></p>
                        <p><input type="submit" value="Sign Up"></p>
                      </fieldset>
                        </div>
                 
                        </div>
                        
                
                      </form>
                   
                      <p>Ya tienes cuenta?  <a href="/" class="blue"> Inicia sesion</a><span class="fontawesome-arrow-right"></span></p>
                
                    </div> <!-- end login -->
                
                
                  </div>

</body>

{% endblock %} 